# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# Large artifacts (keep png and pdf for portfolio, ignore heavy binaries?)
# We will keep the joblib files here because they are needed for the demo to run immediately
# artifacts/*.joblib
# artifacts/*.png
